<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Detalhes Projeto</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <label>Nome</label>
      <label class="w-100 text-success" >{{itemSelecionado.nome}}</label>
    </div>
    <div class="col">
      <label>Descrição</label>
      <label class="w-100 text-success" >{{itemSelecionado.descricao}}</label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Fechar</button>
</div>
