.login{
  width: 30%;
  position: absolute;
  background-color: #fff;
  top: 30%;
  left: 35%;
  padding: 20px;
  box-sizing: border-box;
}
.logo{
  position: absolute;
  width: 10%;
  top: 5%;
  left: 45%;
  margin-left: auto;
  margin-right: auto;
}
