<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Projeto</h4>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="row">
    <div class="col">
      <label>Nome</label>
      <input class="form-control" formControlName="nome" type="text">
    </div>
    <div class="col">
      <label>Descrição</label>
      <input class="form-control" formControlName="descricao" type="text">
    </div>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Fechar</button>
  <button type="button" class="btn btn-outline-dark" (click)="Enviar()">Save</button>
</div>
