/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("./assets/fundo.jpg") !important;
  background-size: cover;
}
.container {
  background: #fff;
}
.table td,th{
  font-size: 18px !important;
  padding-top: 15px ;
  padding-bottom: 15px ;
}
.modalNgb{
  z-index: 1150 !important;
}
